<p id="notice"><%= notice %></p>

<div class="container">
  <% @article.images.each do |image| %>
    <%= image_tag image, class: 'rounded' %>
  <% end %>

  <h2>
    <%= @article.title %>
  </h2>

  <h6>
    <%= @article.content %>
  </h6>

  <% @article.videos.each do |video| %>
    <%= video_tag(url_for(video), controls: '') %>
  <% end %>
<br>
  <% if @article.link.present? %>
    <a href=<%= @article.link %>>
      <%= link_thumbnailer(@article.link).title %>
      <%= image_tag link_thumbnailer(@article.link).favicon %>
    </a>
  <% end %>
</div>
