<div>
  <%= form.label :email %>
  <%= form.text_field :email, placeholder: 'Enter user email' %>
</div>
<div>
  <%= form.label :password %>
  <%= form.text_field :password, placeholder: 'Enter password' %>
</div>
<div class="actions">
  <%= form.submit %>
</div>
